<suite name="Suite1" parallel="classes">
    <test thread-count="5" name="Test1" parallel="classes">
        <classes>
            <class name="test.GoogleHomepageTests"/>
            <class name="test.BaseTest">
                <method>
                    <include name="googleSearch">
                    </include>
                </method>
            </class>
        </classes>
    </test>
</suite>